name: HyriseTest

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    
    - name: Install Dependencies
      shell: bash
      working-directory: ${{github.workspace}}
      run: sudo ./install_dependencies.sh

    - name: Create Build Environment
      shell: bash
      working-directory: ${{github.workspace}}
      run: |
        mkdir cmake-build-debug
        cd cmake-build-debug
        cmake ..

    - name: Build
      shell: bash
      working-directory: ${{github.workspace}}/cmake-build-debug
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: make -j4 hyriseTest

    - name: Test
      shell: bash
      working-directory: ${{github.workspace}}/cmake-build-debug
      run: ./cmake-build-debug/hyriseTest
